.centrar {
    text-align: justify-all;
    color: #111111;
    font-family: 'Didact Gothic', sans-serif;

}
a {
    text-decoration: none;
    color: #4293ba;
}

body {;
}


.parrafo {
    font-size: 1rem;

}

nav {
    color: #007bff;


}

.log {
    width: 4rem;

}

nav ul {
    list-style-type: none;

}

.navegacion {
    color: #007bff;
}

.navegacion ul li {
    display: inline;
}

.navegacion ul.vertical-list li {
    display: list-item;
}

.navegacion ul li a {
    color: #4293ba;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;

}

/*no son los colores finales*/

h1 {
    text-align: center;
    font-weight: normal;
    color: #4085f1;
    font-size: 5vw;
    font-family: 'Dancing Script', cursive;

}

header {
    background-image: url("../img/sky2.png");
    background-size: contain;
}


footer {
    background-image: url("../img/footer.png ");
    padding-top: 4rem;
    font-family: 'Didact Gothic', sans-serif;


}

.contenedor {
    text-align: center;
    border-top: double 3px gainsboro;
    padding-top: 20px;


}

.contenedor span a {
    text-decoration: none;
}

.social {
    text-align: center;
    color: #010111;
    padding-top: 20px;
    opacity: 0.5;

}

.marca {
    text-align: center;
    opacity: 0.5;
    color: #090000;
}

.search {
    border-radius: 10px;
}

.formulario {
    border-radius: 5px;
}

.bottom {
    border-radius: unset;
    /*float: right;*/
}

ul {
    list-style: none;
    font-size: 0 /* truco por el uso de inline-block*/
}

li {
    display: inline-block;
    position: relative;
    font-size: 1rem;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}
ul ul li {
    padding: 0 10px;
    border-bottom: 1px solid #b7d1e0;
}

ul li:hover ul {
    display: block;
    background-color: #ebf6fb;
    width: max-content;
    left: 20px;
    padding: 0;
}
