<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <title>La Villa Canina</title>
</head>
<body>
<header>
    <div class="left-header">
        <div>
            <a href="index.html">
                <img class="logoImg" src="../img/logofina2.png" alt="">
            </a>
        </div>
        <h1 class="titulo1">La Villa Canina</h1>
    </div>
    <div class="right-header">
        <input class="search" placeholder="Search" type="search">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
</header>
<div class="menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
<nav class="navegacion" id="main-menu">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li>
            <a href="servicios.html">Servicios</a>
            <ul class="vertical-list">
                <li><a href="">Guarderia</a></li>
                <li><a href="">SPA</a></li>
                <li><a href="">Zona de Juegos</a></li>
                <li><a href="">Unidad Veterinaria</a></li>
                <li><a href="petshop.html">PetShop</a></li>
                <li><a href="">Movilidad</a></li>
            </ul>
        </li>
        <li><a href="reserva.html">Reservacion</a></li>
        <li><a href="contactos.html">Contactos</a></li>
        <li><a href="refugio.html">Refugio</a></li>
    </ul>

</nav>
<main class="centrar">
    <h2>Datos de Contactos</h2>
    <p><strong>Adopcion:</strong> lavillacanina@adopciones.com</p>
    <p><strong>Reservas:</strong> lavillacanina@reservas.com</p>
    <p><strong>Socios:</strong> lavillacanina@socios.com</p>
    <p><strong>Padrinos:</strong> lavillacanina@padrinos.com</p>


    <p>Puedes contactarnos mediante los mails o llenar el formulario con las dudas que tengan, seran atendidos a la
        brevedad </p>
    <form action="">
        <fieldset>
            <!--Formulario para los datos de los Dueños-->
            <legend>Datos de los Dueños</legend>
            <label for="name1" class="formIcon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></label>
            <input class="formulario" id="name1" placeholder="Ingrese su nombre y apellido" required type="text">
            <br>
            <br>

            <label for="mail" class="formIcon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></label>
            <input class="formulario" id="mail" required type="email">
            <br>
            <br>

            <label for="phone" class="formIcon"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i></label>
            <input class="formulario" id="phone" required type="tel"> <!--solo puede admitir numeros-->
            <br>
            <br>

            <label for="comments2" class="formIcon"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></label><br>
            <textarea class="formulario" cols="30" id="comments2" name=" " placeholder="Escriba sus comentarios aqui" rows="10"></textarea>
            <br>
            <br>
            <input type="submit" class="bottom">
        </fieldset>

        <br>
    </form>
</main>
<footer>
    <div class="contenedor">
        <ul>
            <li><a href="views/contactos.html"> Contactanos </a></li>
            <li><a href="views/servicios.html">Servicios</a></li>
            <li><a href="views/reserva.html">Reservacion</a></li>
            <li><a href="views/refugio.html">Refugio</a></li>
            <li class="exception"><a href="index.html"> Nosotros </a></li>
        </ul>
    </div>
    <div class="social">
        <i aria-hidden="true" class="fa fa-facebook-square fa-lg"></i>
        <i aria-hidden="true" class="fa fa-instagram fa-lg"></i>
        <i aria-hidden="true" class="fa fa-twitter fa-lg"></i>
    </div>
    <div class="marca">
        <p>(C) La Villa Canina | Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>
