<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="../css/estilos.css" rel="stylesheet">
    <title>La Villa Canina</title>
    <link rel="icon" type="image/x-icon" href="../img/logofina2.png"/>
</head>
<body class="no-gutters">
<header>
    <div class="left-header">
        <div>
            <a href="../index.html">
                <img class="img-log" src="../img/logofina2.png" alt="">
            </a>
        </div>
        <h1 class="titulo1">La Villa Canina</h1>
    </div>
    <div class="right-header">
        <input class="search" placeholder="Search" type="search">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
</header>
<nav class="navbar navbar-expand-sm ">
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold btn btn-info text-white rounded"
            type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation"> Menu
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse navegacion" id="navbarResponsive">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Servicios
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="servicios.html">Servicios</a>
                    <a class="dropdown-item" href="guarderia.html">Guarderia</a>
                    <a class="dropdown-item" href="spa.html">SPA</a>
                    <a class="dropdown-item" href="zonajuegos.html">Zona de Juegos</a>
                    <a class="dropdown-item" href="vet.html">Unidad Veterinaria</a>
                    <a class="dropdown-item" href="petshop.html">PetShop</a>
                    <a class="dropdown-item" href="movilidad.html">Movilidad</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reserva.html">Reservaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactos.html">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="refugio.html">Refugio</a>
            </li>
        </ul>
    </div>

</nav>
<main class="container">
    <div class="titulo2 text-center">
        <h2>Datos de Contactos</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name1"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Nombre(s)</label>
                    <input type="text" class="form-control" id="name1" required placeholder="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Apellidos</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="mail"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>Correo</label>
                <input type="email" class="form-control" id="mail" required placeholder="ejemplo@correo.uy">
            </div>
            <div class="form-group">
                <label for="phone"><i class="fa fa-phone-square fa-lg"
                                      aria-hidden="true"></i>Teléfono</label>
                <input type="tel" class="form-control" id="phone" required placeholder="099 999999">
                <!--solo puede admitir numeros-->
            </div>
            <div>
                <label for="comments2"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Comentarios</label>
                <textarea type="number" class="form-control comments" id="comments2"
                          placeholder="Escriba sus comentarios aqui"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#enviarModal">
                Enviar
            </button>

            <!-- ventana que aparece hasta que los campos requeridos estan llenos correctamente,--- esto puede cambiar-->
            <div class="modal fade" id="enviarModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ERROR</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Por favor verifque que los campos requeridos esten llenos
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h4 class="mb-3">Contactenos</h4>

            <p><strong>Adopcion:</strong> lavillacanina@adopciones.com</p>
            <p><strong>Reservas:</strong> lavillacanina@reservas.com</p>
            <p><strong>Socios:</strong> lavillacanina@socios.com</p>
            <p><strong>Padrinos:</strong> lavillacanina@padrinos.com</p>

            <p>Puedes contactarnos mediante los mails o llenar el formulario con las dudas que tengan, seran atendidos a la
                brevedad </p>
        </div>
    </div>



</main>
<footer>
    <div class="contenedor">
        <ul>
            <li><a href="contactos.html"> Contactanos </a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="reserva.html">Reservacion</a></li>
            <li><a href="refugio.html">Refugio</a></li>
            <li class="exception"><a href="../index.html"> Nosotros </a></li>
        </ul>
    </div>
    <div class="social">
        <i aria-hidden="true" class="fa fa-facebook-square fa-lg"></i>
        <i aria-hidden="true" class="fa fa-instagram fa-lg"></i>
        <i aria-hidden="true" class="fa fa-twitter fa-lg"></i>
    </div>
    <div class="marca">
        <p>(C) La Villa Canina | Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>
