<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <title>La Villa Canina</title>
</head>
<body>
<header>
    <div class="left-header">
        <div>
            <a href="../index.html">
                <img class="logoImg" src="../img/logofina2.png" alt="">
            </a>
        </div>
        <h1 class="titulo1">La Villa Canina</h1>
    </div>
    <div class="right-header">
        <input class="search" placeholder="Search" type="search">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
</header>
<nav class="navbar navbar-expand-sm navegacion">
    <!-- Links -->
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
                Servicios
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="servicios.html">Servicios</a>
                <a class="dropdown-item" href="guarderia.html">Guarderia</a>
                <a class="dropdown-item" href="spa.html">SPA</a>
                <a class="dropdown-item" href="zonajuegos.html">Zona de Juegos</a>
                <a class="dropdown-item" href="vet.html">Unidad Veterinaria</a>
                <a class="dropdown-item" href="petshop.html">PetShop</a>
                <a class="dropdown-item" href="movilidad.html">Movilidad</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="reserva.html">Reservaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contactos.html">Contactos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="refugio.html">Refugio</a>
        </li>
    </ul>
</nav>
<main class="centrar">

    <h2>Refugio</h2>
    <p>Los cachorros que se encuentran en el Refugio fueron rescatados de las más diversas situaciones de maltrato,
        abandono y crueldad. Una vez recuperados, castrados y vacunados, comienza la búsqueda de un hogar responsable y
        amoroso para ellos. </p>
    <p>Si no puedes adoptar tambien tenemos la opcion de <strong>"Padrinos"</strong>, puedes apadrinar a uno de nuestros
        cachorros, venir a jugar con el y darle muchos mimos mientras le buscamos una familia definitiva</p>

    <!--galeria con las imagenes de los perritos en adopcion -->
    <h3>Listos para ADOPCION</h3>

    <div class="galeriaFlex" >
        <div class="arrowLeft">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </div>
        <section class="galeria">
            <img class="scalar" src="../img/chimuelo7.jpg">
            <img class="scalar" src="../img/toby.jpg">
            <img class="scalar" src="../img/leo.jpg">
            <img class="scalar" src="../img/zoe1.jpg">
            <img class="scalar" src="../img/cusi.jpg">
            <img class="scalar" src="../img/adop1.jpg">
            <img class="scalar" src="../img/chimuelo9.jpg">

        </section>
        <div class="arrowRight">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </div>
    </div>
    <table class="table table-hover table-responsive-sm ">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Edad en años</th>
                <th>Sexo</th>
                <th>Pelo</th>
                <th>Tamaño</th>
            </tr>
        </thead>
        <tr>
            <td>Chimuelo</td>
            <td>Negro</td>
            <td>2 meses</td>
            <td>Masculino</td>
            <td>Corto</td>
            <td>Grande</td>
        </tr>
        <tr>
            <td>Toby</td>
            <td>Negro, marron y blanco</td>
            <td>14</td>
            <td>Masculino</td>
            <td>Corto</td>
            <td>Mediano</td>
        </tr>
        <tr>
            <td>Leo</td>
            <td>Rojo-Amarillo</td>
            <td>1</td>
            <td>Masculino</td>
            <td>Corto</td>
            <td>Pequeño</td>
        </tr>
        <tr>
            <td>Zoe</td>
            <td>Chocolate</td>
            <td>3</td>
            <td>Femenino</td>
            <td>Largo</td>
            <td>Mediano</td>
        </tr>
        <tr>
            <td>Cusi</td>
            <td>Cremita</td>
            <td>4</td>
            <td>Femenino</td>
            <td>Corto</td>
            <td>Pequeño</td>
        </tr>
    </table>
    <p>Luego de ser adoptados los nuevos dueños pueden cambiar el nombre</p>
</main>
<footer>
    <div class="contenedor">
        <ul>
            <li><a href="contactos.html"> Contactanos </a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="reserva.html">Reservacion</a></li>
            <li><a href="refugio.html">Refugio</a></li>
            <li class="exception"><a href="../index.html"> Nosotros </a></li>
        </ul>
    </div>
    <div class="social">
        <i aria-hidden="true" class="fa fa-facebook-square fa-lg"></i>
        <i aria-hidden="true" class="fa fa-instagram fa-lg"></i>
        <i aria-hidden="true" class="fa fa-twitter fa-lg"></i>
    </div>
    <div class="marca">
        <p>(C) La Villa Canina | Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>
