<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Villa Canina</title>
</head>
<body>
<header>
    <!--imagen logo-->
    <h1>La Villa Canina</h1>
</header>
<nav>
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="servicios.html">Servicios</a></li>
        <li><a href="reserva.html">Reservacion</a></li>
        <li><a href="contactos.html">Contactos</a></li>
        <li><a href="refugio.html">Refugio</a></li>
    </ul>
</nav>
<section>
    <h2>Refugio</h2>
    <p>Los cachorros que se encuentran en el Refugio fueron rescatados de las más diversas situaciones de maltrato, <br> abandono y crueldad. Una vez recuperados, castrados y vacunados, comienza la búsqueda de un hogar
        <br> responsable y amoroso para ellos. </p>
    <p>Si no puedes adoptar tambien tenemos la opcion de <strong>"Padrinos"</strong>, puedes apadrinar a uno de <br>nuestros cachorros, venir a jugar con el y darle muchos mimos mientras le buscamos una familia definitiva</p>
    <!--galeria con las imagenes de los perritos en adopcion -->
    <h3>Listos para ADOPCION</h3>
    <p>aqui va una galeria </p>
    <table border="1px solid black"><!--solo por ahora luego se vera mejor-->
        <tr>
            <th>Nombre</th>
            <th>Color</th>
            <th>Edad en años</th>
            <th>Sexo</th>
            <th>Pelo</th>
            <th>Tamaño</th>
        </tr>
        <tr>
            <td>Chimuelo</td>
            <td>Negro</td>
            <td>2</td>
            <td>Masculino</td>
            <td>Corto</td>
            <td>Grande</td>
        </tr>
        <tr>
            <td>Toby</td>
            <td>Negro, marron y blanco</td>
            <td>14</td>
            <td>Masculino</td>
            <td>Corto</td>
            <td>Mediano</td>
        </tr>
        <tr>
            <td>Leo</td>
            <td>Rojo-Amarillo</td>
            <td>1</td>
            <td>Masculino</td>
            <td>Corto</td>
            <td>Pequeño</td>
        </tr>
        <tr>
            <td>Zoe</td>
            <td>Chocolate</td>
            <td>3</td>
            <td>Femenino</td>
            <td>Largo</td>
            <td>Mediano</td>
        </tr>
        <tr>
            <td>Cusi</td>
            <td>Cremita</td>
            <td>4</td>
            <td>Femenino</td>
            <td>Corto</td>
            <td>Pequeño</td>
        </tr>
    </table>
    <p>Luego de ser adoptados los nuevos dueños pueden cambiar el nombre</p>
</section>
<footer>
    <p>Contactos</p>
    <p>Nosotros</p>
</footer>
</body>
</html>
