<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../css/contactos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <title>La Villa Canina</title>
</head>
<body>
<header>
    <!--imagen logo-->
    <h1>La Villa Canina</h1>
    <input class="search" placeholder="Search" type="search">
    <i aria-hidden="true" class="fa fa-search"></i>
</header>
<nav class="navegacion" id="main-menu">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="servicios.html">Servicios</a></li>
        <!--<ul>
                       <li>Guarderia</li>
                       <li>SPA</li>
                       <li>Zona de Juegos</li>
                       <li>Unidad Veterinaria</li>
                       <li><a href="views/petshop.html"> PetShop </a></li>
                       <li>Movilidad</li>
                   </ul>-->
        <li><a href="reserva.html">Reservacion</a></li>
        <li><a href="contactos.html">Contactos</a></li>
        <li><a href="refugio.html">Refugio</a></li>
    </ul>
    <br>
</nav>
<section class="centrar">
    <h2>Reservaciones </h2>
    <form action="">
        <fieldset>
            <!--Formularios para los datos de la mascota-->
            <!--poner para agregar otra mascota +-->
            <legend>Datos de las Mascotas</legend>
            <label for="puppyName">Nombre del Cachorro *</label>
            <input class="formulario" id="puppyName" placeholder="Ingrese el nombre de su mascota" required type="text">
            <br>
            <br>

            <span>Sexo</span><br>
            <input id="female" name="sexo" type="radio" value="F">
            <label for="female">Femenino</label>
            <input id="male" name="sexo" type="radio" value="M">
            <label for="male">Masculino</label>
            <br>
            <br>

            <label for="age">Edad</label>
            <select class="formulario" id="age">
                <option value="">Años</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
                <option value="">16</option>
                <option value="">17</option>
                <option value="">18</option>
                <option value="">19</option>
                <option value="">20</option>
            </select>
            <br>
            <br>

            <label for="breed">Raza</label>
            <input class="formulario" id="breed" placeholder="Raza de su mascota" type="text">
            <br>
            <br>

            <label for="dateIn">Fecha de Ingreso *</label>
            <input class="formulario" id="dateIn" required type="date">
            <br>
            <br>

            <label for="dateOut">Fecha de Salida *</label>
            <input class="formulario" id="dateOut" required type="date">
            <br>
            <br>

            <label for="comments1">Comentarios</label><br>
            <textarea class="formulario" cols="30" id="comments1" name=" " placeholder="Escriba sus comentarios aqui"
                      rows="10"></textarea>
        </fieldset>
        <br>

        <fieldset>
            <!--Formulario para los datos de los Dueños-->
            <legend>Datos de los Dueños</legend>
            <label for="name1">Nombre y Apellido *</label>
            <input class="formulario" id="name1" placeholder="Ingrese su nombre y apellido" required type="text">
            <br>
            <br>

            <label for="mail">Correo *</label>
            <input class="formulario" id="mail" required type="email">
            <br>
            <br>

            <label for="phone">Telefono *</label>
            <input class="formulario" id="phone" required type="tel"> <!--solo puede admitir numeros-->
            <br>
            <br>

            <label for="comments2">Comentarios</label><br>
            <textarea class="formulario" cols="30" id="comments2" name=" " placeholder="Escriba sus comentarios aqui"
                      rows="10"></textarea>
            <br>
            <br>
        </fieldset>
        <br>
        <!--BOTONES-->
        <input type="submit" class="bottom">
        <input type="reset" class="bottom">
        </select>
    </form>
</section>
<footer>
    <div class="footer">
        <div class="contenedor">
            <span><a href="contactos.html"> Contactanos </a></span>
            <span>|</span>
            <span><a href="servicios.html">Servicios</a></span>
            <span>|</span>
            <span><a href="reserva.html">Reservacion</a></span>
            <span>|</span>
            <span><a href="refugio.html">Refugio</a></span>
            <span>|</span>
            <span><a href="../index.html"> Nosotros </a></span>
        </div>
        <div class="social">
            <i aria-hidden="true" class="fa fa-facebook-square"></i>
            <i aria-hidden="true" class="fa fa-instagram"></i>
            <i aria-hidden="true" class="fa fa-twitter"></i>
        </div>
        <div class="marca">
            <p>(C) La Villa Canina | Todos los derechos reservados</p>
        </div>
    </div>
</footer>
</body>
</html>
