<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="../css/estilos.css" rel="stylesheet">
    <title>La Villa Canina - Reserva</title>
    <link href="../img/logo.jpg" rel="icon" type="image/x-icon"/>
</head>
<body>
<header>
    <div class="left-header">
        <div>
            <a href="../index.html">
                <img alt="" class="img-log" src="../img/logo.jpg">
            </a>
        </div>
        <h1 class="titulo1">La Villa Canina</h1>
    </div>
    <div class="right-header">
        <input class="search" placeholder="Search" type="search">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
</header>
<nav class="navbar navbar-expand-sm ">
    <button aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold btn btn-info text-white rounded" data-target="#navbarResponsive"
            data-toggle="collapse" type="button"> Menu
        <i aria-hidden="true" class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse navegacion" id="navbarResponsive">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                    Servicios
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="servicios.html">Servicios</a>
                    <a class="dropdown-item" href="guarderia.html">Guarderia</a>
                    <a class="dropdown-item" href="spa.html">SPA</a>
                    <a class="dropdown-item" href="zonajuegos.html">Zona de Juegos</a>
                    <a class="dropdown-item" href="vet.html">Unidad Veterinaria</a>
                    <a class="dropdown-item" href="petshop.html">PetShop</a>
                    <a class="dropdown-item" href="movilidad.html">Movilidad</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reserva.html">Reservaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactos.html">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="refugio.html">Refugio</a>
            </li>
        </ul>
    </div>
</nav>
<main class="container">
    <div class="titulo2 text-center">
        <h2>Reservaciones</h2>
    </div>
    <div class="carousel slide" data-ride="carousel" id="demo">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#demo"></li>
            <li data-slide-to="1" data-target="#demo"></li>
            <li data-slide-to="2" data-target="#demo"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item img-carousel1 active "></div>
            <div class="carousel-item img-carousel2"></div>
            <div class="carousel-item img-carousel3"></div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" data-slide="prev" href="#demo">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#demo">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <div class="row row-form">
        <div class="col-md-6">
            <h4 class="mb-3">Datos de las Mascotas</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="puppyName"><i aria-hidden="true" class="fa fa-paw fa-lg"></i>Nombre de
                        su mascota</label>
                    <input class="form-control" id="puppyName" placeholder="Nombre de su mascota" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="breed">Raza</label>
                    <input class="form-control" id="breed" placeholder="Raza de su mascota" type="text">
                </div>
            </div>

            <h6 class="mb-3"><i aria-hidden="true" class="fa fa-venus-mars"></i>Sexo</h6>
            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input checked class="custom-control-input" id="credit" name="sexo" required
                           type="radio">
                    <label class="custom-control-label" for="credit">Masculino</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" id="debit" name="sexo" required type="radio">
                    <label class="custom-control-label" for="debit">Femenino</label>
                </div>
            </div>
            <div class="col-md-4 mb-3 space">
                <label class="mr-sm-2" for="age"><i aria-hidden="true"
                                                    class="fa fa-clock-o fa-lg"></i>Edad</label>
                <select class="custom-select d-block w-100" id="age" required>
                    <option value="">Años</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                    <option value="">7</option>
                    <option value="">8</option>
                    <option value="">9</option>
                    <option value="">10</option>
                    <option value="">11</option>
                    <option value="">12</option>
                    <option value="">13</option>
                    <option value="">14</option>
                    <option value="">15</option>
                    <option value="">16</option>
                    <option value="">17</option>
                    <option value="">18</option>
                    <option value="">19</option>
                    <option value="">20</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Age.
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h4 class="mb-3">Datos de los Dueños</h4>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name1"><i aria-hidden="true" class="fa fa-user fa-lg"></i>Nombre(s)</label>
                    <input class="form-control" id="name1" placeholder="Nombre" required type="text">
                </div>
                <div class="form-group col-md-6">
                    <label for="apellido"><i aria-hidden="true" class="fa fa-user fa-lg"></i>Apellidos</label>
                    <input class="form-control" id="apellido" placeholder="Apellido" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="mail"><i aria-hidden="true" class="fa fa-envelope fa-lg"></i>Correo</label>
                <input class="form-control" id="mail" placeholder="ejemplo@correo.uy" required type="email">
            </div>
            <div class="form-group">
                <label for="phone"><i aria-hidden="true"
                                      class="fa fa-phone-square fa-lg"></i>Teléfono</label>
                <input class="form-control" id="phone" placeholder="099 999999" required type="tel">
                <!--solo puede admitir numeros-->
            </div>

        </div>
        <div class="col-md-12">
            <label for="comments2"><i aria-hidden="true" class="fa fa-pencil-square-o fa-lg"></i>Comentarios</label>
            <textarea class="form-control comments" id="comments2" placeholder="Escriba sus comentarios aqui"
                      type="number"></textarea>
        </div>
        <button class="bottom btn btn-outline-primary" data-target="#enviarModal" data-toggle="modal" type="submit">
            Enviar
        </button>

        <!-- ventana que aparece hasta que los campos requeridos estan llenos correctamente,--- esto puede cambiar-->
        <div aria-hidden="true" class="modal fade" id="enviarModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ERROR</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Por favor verifque que los campos requeridos esten llenos
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" data-dismiss="modal" type="button">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <button class="bottom btn btn-outline-primary" type="reset">Restablecer</button>
    </div>
</main>
<footer>
    <div class="contenedor">
        <ul>
            <li><a href="contactos.html"> Contactanos </a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="reserva.html">Reservacion</a></li>
            <li><a href="refugio.html">Refugio</a></li>
            <li class="exception"><a href="index.html"> Nosotros </a></li>
        </ul>
    </div>
    <div class="social">
        <i aria-hidden="true" class="fa fa-facebook-square fa-lg"></i>
        <i aria-hidden="true" class="fa fa-instagram fa-lg"></i>
        <i aria-hidden="true" class="fa fa-twitter fa-lg"></i>
    </div>
    <div class="marca">
        <p>(C) La Villa Canina | Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>
