<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Villa Canina</title>
</head>
<body>
    <header>
        <!--imagen logo--> 
        <h1>La Villa Canina</h1>
    </header>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="reserva.html">Reservacion</a></li>
            <li><a href="contactos.html">Contactos</a></li>
            <li><a href="refugio.html">Refugio</a></li>
        </ul>
    </nav>
    <section>
        <!--imagen de guarderia-->
        <h2>Nuestros Servicios</h2>
        <h3>Guarderia</h3>
        <p>En nuestra Guardería puedes dejar a tu cachorro de forma habitual —por ejemplo todas las mañanas, mientras estás en el trabajo—, <br> tan solo unas horas en momentos puntuales, o varios días; el tiempo que necesites. Los cachorros tienen su propia habitación la cual <br> cuenta con zona techada una cómoda cama, sus juguetes, comida y agua, se conecta a través de una puerta a una zona amplia con <br> césped. Cada mañana luego de salir el sol nuestros cachorros pasan al área de juego para asi facilitar la limpieza de las instalaciones  </p>
        <!--imagen de SPA-->
        <h3>SPA</h3>
        <p>En nuestro SPA los cachorros son mimados con baños, masajes y paticures</p>
        <!--imagen de zona de juego-->
        <h3>Zona de Juego</h3>
        <p>Nuestra zona de juego es un terreno amplio donde nuestros cachorros podrán correr en una pista de obstáculos, buscar la <br> pelota y jugar hasta el cansancio, cuenta con una piscina a la que tiene acceso en horarios específicos y siempre con los <br> cuidadores presente </p>
        <!--imagen de vet-->
        <h3>Unidad Veterinaria</h3>
        <p>Nuestra Unidad Veterinaria cuenta con los mejores médicos para nuestros cachorros, estos se encargarán de hacer revisiones sistemáticas <br> para saber su estado de salud y recomendar en caso necesite algo como, vitaminas u otro tipo de medicamento canino. <br> Además de regular dietas y raciones </p>
        <!--imagen de petshop-->
        <h3><a href="petshop.html">Petshop</a></h3>
        <p>En nuestra tienda podrás encontrar todos los juguetes que tu cachorro quiera además de comida y accesorios </p>
        <!--imagen de movilidad-->
        <h3>Movilidad</h3>
        <p>La guardería contara con una movilidad que permitirá el traslado de los cachorros de casa a la guardería y viceversa para facilitar <br> los tiempos con nuestros clientes, esto se llevara a cabo con previa anticipación o reserva que será atendida con una llamada telefónica.</p>
    </section>
    <footer>
        <p>Contactos</p>
        <p>Nosotros</p>
    </footer>
</body>
</html>
