<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <title>La Villa Canina</title>
</head>
<body>
<header>
    <div class="left-header">
        <div>
            <a href="index.html">
                <img class="logoImg" src="../img/logofina2.png" alt="">
            </a>
        </div>
        <h1 class="titulo1">La Villa Canina</h1>
    </div>
    <div class="right-header">
        <input class="search" placeholder="Search" type="search">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
</header>
<nav class="navegacion" id="main-menu">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li>
            <a href="servicios.html">Servicios</a>
            <ul class="vertical-list">
                <li><a href="">Guarderia</a></li>
                <li><a href="">SPA</a></li>
                <li><a href="">Zona de Juegos</a></li>
                <li><a href="">Unidad Veterinaria</a></li>
                <li><a href="petshop.html">PetShop</a></li>
                <li><a href="">Movilidad</a></li>
            </ul>
        </li>
        <li><a href="reserva.html">Reservacion</a></li>
        <li><a href="contactos.html">Contactos</a></li>
        <li><a href="refugio.html">Refugio</a></li>
    </ul>

</nav>
<main class="centrar">

    <h2>Nuestros Servicios</h2>

    <h3>Guarderia</h3>
    <p>En nuestra Guardería puedes dejar a tu cachorro de forma habitual —por ejemplo todas las mañanas, mientras estás
        en el trabajo—, tan solo unas horas en momentos puntuales, o varios días; el tiempo que necesites. Los cachorros
        tienen su propia habitación la cual cuenta con zona techada una cómoda cama, sus juguetes, comida y agua, se
        conecta a través de una puerta a una zona amplia con césped. Cada mañana luego de salir el sol nuestros
        cachorros pasan al área de juego para asi facilitar la limpieza de las instalaciones </p>
    <!--imagen de SPA-->
    <h3>SPA</h3>
    <p>En nuestro SPA los cachorros son mimados con baños, masajes y paticures</p>
    <!--imagen de zona de juego-->
    <h3>Zona de Juego</h3>
    <p>Nuestra zona de juego es un terreno amplio donde nuestros cachorros podrán correr en una pista de obstáculos,
        buscar la pelota y jugar hasta el cansancio, cuenta con una piscina a la que tiene acceso en horarios
        específicos y siempre con los cuidadores presente </p>
    <!--imagen de vet-->
    <h3>Unidad Veterinaria</h3>
    <p>Nuestra Unidad Veterinaria cuenta con los mejores médicos para nuestros cachorros, estos se encargarán de hacer
        revisiones sistemáticas para saber su estado de salud y recomendar en caso necesite algo como, vitaminas u otro
        tipo de medicamento canino. Además de regular dietas y raciones </p>
    <!--imagen de petshop-->
    <h3><a href="petshop.html">Petshop</a></h3>
    <p>En nuestra tienda podrás encontrar todos los juguetes que tu cachorro quiera además de comida y accesorios </p>
    <!--imagen de movilidad-->
    <h3>Movilidad</h3>
    <p>La guardería contara con una movilidad que permitirá el traslado de los cachorros de casa a la guardería y
        viceversa para facilitar los tiempos con nuestros clientes, esto se llevara a cabo con previa anticipación o
        reserva que será atendida con una llamada telefónica.</p>
</main>
<footer>
    <div class="contenedor">
        <ul>
            <li><a href="views/contactos.html"> Contactanos </a></li>
            <li><a href="views/servicios.html">Servicios</a></li>
            <li><a href="views/reserva.html">Reservacion</a></li>
            <li><a href="views/refugio.html">Refugio</a></li>
            <li class="exception"><a href="index.html"> Nosotros </a></li>
        </ul>
    </div>
    <div class="social">
        <i aria-hidden="true" class="fa fa-facebook-square"></i>
        <i aria-hidden="true" class="fa fa-instagram"></i>
        <i aria-hidden="true" class="fa fa-twitter"></i>
    </div>
    <div class="marca">
        <p>(C) La Villa Canina | Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>
