<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="../css/estilos.css" rel="stylesheet">
    <title>La Villa Canina - Servicios</title>
    <link href="../img/logo.jpg" rel="icon" type="image/x-icon"/>
</head>
<body class="no-gutters">
<header>
    <div class="left-header">
        <div>
            <a href="../index.html">
                <img alt="" class="img-log" src="../img/logo.jpg">
            </a>
        </div>
        <h1 class="titulo1">La Villa Canina</h1>
    </div>
    <div class="right-header">
        <input class="search" placeholder="Search" type="search">
        <i aria-hidden="true" class="fa fa-search"></i>
    </div>
</header>
<nav class="navbar navbar-expand-sm ">
    <button aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold btn btn-info text-white rounded" data-target="#navbarResponsive"
            data-toggle="collapse" type="button"> Menu
        <i aria-hidden="true" class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse navegacion" id="navbarResponsive">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                    Servicios
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="servicios.html">Servicios</a>
                    <a class="dropdown-item" href="guarderia.html">Guarderia</a>
                    <a class="dropdown-item" href="spa.html">SPA</a>
                    <a class="dropdown-item" href="zonajuegos.html">Zona de Juegos</a>
                    <a class="dropdown-item" href="vet.html">Unidad Veterinaria</a>
                    <a class="dropdown-item" href="petshop.html">PetShop</a>
                    <a class="dropdown-item" href="movilidad.html">Movilidad</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reserva.html">Reservaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contactos.html">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="refugio.html">Refugio</a>
            </li>
        </ul>
    </div>
</nav>
<main class="container">

    <div class=" text-center titulo2">
        <h2>Nuestros Servicios</h2>
    </div>

    <div class="row-servicios">
        <div class="col-md-3">
            <img alt="" class="img-servicios" src="../img/guarderia.png">

        </div>

        <div class="col-md-9">
            <h3><a href="guarderia.html">Guarderia</a></h3>
            <p class="pservicios">En nuestra Guardería puedes dejar a tu cachorro de forma habitual —por ejemplo todas
                las mañanas, mientras estás
                en el trabajo—, tan solo unas horas en momentos puntuales, o varios días; el tiempo que necesites. Los
                cachorros
                tienen su propia habitación la cual cuenta con zona techada una cómoda cama, sus juguetes, comida y
                agua, se
                conecta a través de una puerta a una zona amplia con césped. Cada mañana luego de salir el sol nuestros
                cachorros pasan al área de juego para asi facilitar la limpieza de las instalaciones </p>
        </div>
    </div>

    <!--imagen de SPA-->
    <div class="row-servicios">
        <div class="col-md-3">
            <img alt="" class="img-servicios" src="../img/spa.jpg">
        </div>

        <div class="col-md-9">
            <h3><a href="spa.html">SPA</a></h3>
            <p class="pservicios">En nuestro SPA los cachorros son mimados con baños, masajes y paticures </p>
        </div>
    </div>


    <!--imagen de zona de juego-->
    <div class="row-servicios">
        <div class="col-md-3">
            <img alt="" class="img-servicios" src="../img/PhotoComingSoon.jpg">
        </div>

        <div class="col-md-9">
            <h3><a href="zonajuegos.html">Zona de Juego</a></h3>
            <p class="pservicios">Nuestra zona de juego es un terreno amplio donde nuestros cachorros podrán correr en
                una pista de obstáculos,
                buscar la pelota y jugar hasta el cansancio, cuenta con una piscina a la que tiene acceso en horarios
                específicos y siempre con los cuidadores presente</p>
        </div>
    </div>

    <!--imagen de vet-->
    <div class="row-servicios">
        <div class="col-md-3">
            <img alt="" class="img-servicios" src="../img/images.jpg">
        </div>

        <div class="col-md-9">
            <h3><a href="vet.html">Unidad Veterinaria</a></h3>
            <p class="pservicios">Nuestra Unidad Veterinaria cuenta con los mejores médicos para nuestros cachorros,
                estos se encargarán de hacer
                revisiones sistemáticas para saber su estado de salud y recomendar en caso necesite algo como, vitaminas
                u otro
                tipo de medicamento canino. Además de regular dietas y raciones</p>
        </div>
    </div>


    <!--imagen de petshop-->
    <div class="row-servicios">
        <div class="col-md-3">
            <img alt="" class="img-servicios" src="../img/petshop.jpg">
        </div>

        <div class="col-md-9">
            <h3><a href="petshop.html">Petshop</a></h3>
            <p class="pservicios">Nuestra Unidad Veterinaria cuenta con los mejores médicos para nuestros cachorros,
                estos se encargarán de hacer
                revisiones sistemáticas para saber su estado de salud y recomendar en caso necesite algo como, vitaminas
                u otro
                tipo de medicamento canino. Además de regular dietas y raciones. En nuestra tienda podrás encontrar
                todos
                los juguetes que tu cachorro quiera además de comida y accesorios </p>
        </div>
    </div>


    <div class="row-servicios">
        <div class="col-md-3">
            <img alt="" class="img-servicios" src="../img/movilidad.jpg">
        </div>

        <div class="col-md-9">
            <h3><a href="movilidad.html">Movilidad</a></h3>
            <p class="pservicios">La guardería contara con una movilidad que permitirá el traslado de los cachorros de
                casa a la guardería y
                viceversa para facilitar los tiempos con nuestros clientes, esto se llevara a cabo con previa
                anticipación o
                reserva que será atendida con una llamada telefónica.</p>
        </div>
    </div>


</main>
<footer>
    <div class="contenedor">
        <ul>
            <li><a href="contactos.html"> Contactanos </a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="reserva.html">Reservacion</a></li>
            <li><a href="refugio.html">Refugio</a></li>
            <li class="exception"><a href="../index.html"> Nosotros </a></li>
        </ul>
    </div>
    <div class="social">
        <i aria-hidden="true" class="fa fa-facebook-square fa-x3"></i>
        <i aria-hidden="true" class="fa fa-instagram fa-lg"></i>
        <i aria-hidden="true" class="fa fa-twitter fa-lg"></i>
    </div>
    <div class="marca">
        <p>(C) La Villa Canina | Todos los derechos reservados</p>
    </div>

</footer>
</body>
</html>
